.

.login-wrap{
	padding: 20px 0 25px;
}
.login-wrap a {
	color: #08c;
}
.login-wrap .welcome {
	display: inline-block;
	font: bold 30px "SimHei";
	padding-top: 14px;
	color: #535353;
}
.w940{
	width: 940px;
	margin: 0 auto;
}
.login-box .pic img {
	width: 450px;
	height: 440px;
}
.entry {
	padding: 0 40px;
	margin-top: 50px;
}
.entry .title{
	line-height: 50px;
	font-family: "microsoft yahei";
	font-size: 16px;
	color: #666;
}
.entry dl{
	position: relative;
	margin-bottom: 10px;
}
.entry dt{
	position: absolute;
	left: 8px;
	top: 11px;
	color: #999;
	font-size: 12px;
	line-height: 18px;
	cursor: text;
}
.entry .text{
	width: 252px;
	height: 16px;
	border: 1px solid #b0b0b0;
	line-height: 16px;
	padding: 11px 16px 11px 40px;
	color: #333;
	font-size: 14px;
}
.entry .entry-name dd label{
	position: absolute;
	left: 44px;
	top: 11px;
	color: #aaa;
	transition: all .2s ease-out 0s;
	font-size: 14px;
	cursor: text;
}
.tp.for-register{
	background: white;
}
.register .item input, .entry .item input{
	width: 313px;
	height: 38px;
	margin: 20px 0;
	background: url(../img/login.jpg) no-repeat;
	border: 0;
	cursor: pointer;
	outline: none;
}
body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4{
	margin: 0;
	padding: 0;
	list-style: none;
}
body, button, input, select, textarea{
	font: 12px arial, helvetica, sans-serif;
	color: #333;
}
input, select, textarea{
	font-size: 100px;
}
a.blue_link{
	color: #06c;
}
a.blue_link:hover{
	color: red;
	text-decoration: underline;
}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
.clearfix{
	*zoom:1;
}
button::-moz-focus-inner{
	padding: 0;
	border: none;
}
.f1{
	float: left;
	margin-left: 20px;
}
.fr{
	float: right;
	margin-right: 30px;
}
.mt10{
	margin-top: 10px;
}
.